<style type="text/css">
#head{
background: #005690;
height: 60px;
width: 100%;
position: absolute;
font-weight: 800;
z-index: 0;
top: 0;
left: 0;
}

#title{
font-family: 'Open Sans', sans-serif;
font-weight: 800;
font-size: 36px;
color: #ECF8FA;
line-height: 66px;
top: 0px;
position: absolute;
}

#title a {
text-decoration: none;
font-weight: 700;
color: #ECF8FA;
}

.lin a {
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 30px;
text-decoration: none;
color: #75AFBF;
top: 0px;
padding-left: 5px;
line-height: 50px;
}

#links {
	height: 50px;
	right: 2%;
	top: -1%;
	position: absolute;

}

#links ul li {
	display: inline-block;
	text-decoration: none;
	padding-left: 10px;
}

</style>

<div id="head">
</div>
<div id="title"><%= link_to "The Sugar Witch Switch", root_path %>
</div>
<div id="links">
	<ul>
	<li><div id="author" class="lin"><%= link_to "Author", author_path %></div></li>
	<li><div id="about" class="lin"><%= link_to "About", about_path %></div></li>
	<li><div id="blog" class="lin"><%= link_to "Blog", blog_path %></div></li>
	<li><div id="buy" class="lin"><%= link_to "Buy", buy_path %></div></li>
	</ul>
</div>
